/**
 * Layout helpers.
 */

// Stretch an element vertically based on available space
.reveal .stretch,
.reveal .r-stretch {
	max-width: none;
	max-height: none;
}

.reveal pre.stretch code,
.reveal pre.r-stretch code {
	height: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

// Text that auto-fits its container
.reveal .r-fit-text {
	display: inline-block; // https://github.com/rikschennink/fitty#performance
	white-space: nowrap;
}

// Stack multiple elements on top of each other
.reveal .r-stack {
	display: grid;
}

.reveal .r-stack > * {
	grid-area: 1/1;
	margin: auto;
}

// Horizontal and vertical stacks
.reveal .r-vstack,
.reveal .r-hstack {
	display: flex;

	img, video {
		min-width: 0;
		min-height: 0;
		object-fit: contain;
	}
}

.reveal .r-vstack {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reveal .r-hstack {
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

// Naming based on tailwindcss
.reveal .items-stretch { align-items: stretch; }
.reveal .items-start { align-items: flex-start; }
.reveal .items-center { align-items: center; }
.reveal .items-end { align-items: flex-end; }

.reveal .justify-between { justify-content: space-between; }
.reveal .justify-around { justify-content: space-around; }
.reveal .justify-start { justify-content: flex-start; }
.reveal .justify-center { justify-content: center; }
.reveal .justify-end { justify-content: flex-end; }

.title-wrapper {
    display: flex;
	align-items: center;

    .profile {
       background-color: #FFF;
	   width: 200px;
	   height: 200px;
	   border-radius: 100px;
    }

	.profile-info {
		text-align: left;
		margin-left: 32px;

		.name {
			font-size: 64px;
			line-height: 72px;
		}

		.job {
			font-size: 24px;
			line-height: 12px;
		}
	}
	
}

.profile-wrapper {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

    .profile {
       background-color: #FFFFFF;
	   width: 150px;
	   height: 150px;
	   border-radius: 75px;
    }
	
}

.timeline {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 20px;
	width: auto;
	min-width: 600px;
  }
  
  .timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background-color: #FFFFFF !important;
	top: 0;
	bottom: 0;
	left: 50% !important;
	margin-left: -1px;
  }
  
  .timeline-item {
	position: relative;
	margin-bottom: 25px;
  }
  
  .timeline-item::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF !important;
	border-radius: 50%;
	top: 25px !important;
	bottom: 0px !important;
	left: 50% !important;
	margin-left: -10px;
  }

  
  .timeline-content {
	// position: relative;
	// text-align: left !important;
	// font-size: 16px !important;
	width: 100% !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px auto;
  }
  
  .timeline-date {
	font-weight: bold;
	line-height: 0px !important;
	width: 50%;
	// margin: 0px !important;
	// margin-top: 12px;
  }
  
  .timeline-description {
	width: 50%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;

	img {
		height: 50px !important;
	}
	
	.timeline-company {
		font-size: 24px;
	}

	.timeline-job {
		font-size: 20px !important;
		line-height: 0px !important;
		margin: 8px;
	}
  }